.agree-with, .oppose {
    display: none;
}
.banner-container img {
    max-width: 100%;
}
.banner-bg {
	position: absolute;
	width: 500%;
	height: 100%;
	top: 0;
	left: -250%;
	background: #9d9ca4;
	z-index: -1
}
.forum-container {
	padding-top: 30px;
}
.post-container {
    padding: 0 15px;
}
.detail-title h1 {
    margin: 0;
    font-size: 22px;
    line-height: 1.5;
    margin-bottom: 20px;
}
.detail-body {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 30px;
}
.detail-provider {
    color: #08c;
    font-size: 12px;
    padding: 2px 4px;
    background-color: #e5f3fa;
}
.detail-user {
    display: inline-block;
}
.detail-user-tips .icon-nav {
    font-size: 20px;
    color: #d2d2d2;
    margin-left: 10px;
}
.detail-user-tips .icon-nav:hover {
    color: #3c80e3;
}
.w-e-text-container {
    height: 150px !important;
}
.edit-content {
    margin-bottom: 50px;
}

.sidebar-container {
    padding: 0 15px;
}
.post_edit, .post_bar {
    margin-bottom: 20px;
}
.post_edit a {
    display: block;
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #3c80e3;
    color: #FFF;
    font-size: 18px;
}
.post_edit a:hover {
    background: #1e65cc;
}
.post_bar {
    position: relative;
}
.post_bar p {
    margin: 0;
}
.post_bar .post-title {
    font-size: 17px;
    color: #333;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #d0d6d9;
}
.post_inform .post-content {
    background: #edf1f2;
    padding: 15px;
    color: #333;
    font-size: 12px;
    line-height: 1.5;
}
.post_inform .post-content p:first-child {
    font-size: 14px;
    text-indent: 24px;
    margin-bottom: 15px;
}
.post_activity img {
    max-width: 100%;
    width: 100%;
}
.post_activity_lc {
    width: 100%;
    position: relative;
}
.post_activity_list {
    display: block;
    position: relative;
    margin-bottom: 10px;
    padding: 0 5px;
}
.post_activity_shadow {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/static/images/forum/cover.png) no-repeat bottom center;
    background-size: cover;
    opacity: .5;

    transition: .2s all linear;
    -moz-transition: .2s all linear;
    -webkit-transition: .2s all linear;
    -o-transition: .2s all linear;
}
.post_activity_shadow:hover {
    opacity: .8;

    transition: .2s all linear;
    -moz-transition: .2s all linear;
    -webkit-transition: .2s all linear;
    -o-transition: .2s all linear;
}
.post_activity_list_tit {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 6;
    padding: 5px 10px;
    line-height: 1.5;
    color: #FFF;
}
.post_hotask_list {
    display: block;
    padding: 20px 0;
    border-bottom: 1px solid #edf1f2;
}
.post_hotask .post-content {
    padding: 0 10px;
}
.post_hotask_list_tit {
    font-size: 14px;
    color: #333;
}
.post_hotask_list_content {
    font-size: 12px;
    color: #999;
    margin-top: 15px;
    overflow: hidden;
}
.post_hotask_list_content p {
    display: inline-block;
    margin-right: 8px;
}
.post_hotask_list_content .from {
    text-align: right;
    margin: 0;
}
.post_hotask_list_content .from span {
    margin-left: 5px;
}
.post_header .post_inform {
    display: none;
    padding: 0 15px;
}
.post_header .header_ask {
    display: none;
    float: right;
    text-align: center;
    background: #3c80e3;
    color: #FFF;
    font-size: 14px;
    padding: 4px 8px;
    border-radius: 3px;
}
.post-container .post_inform {
    display: none;
}
.ans_num {
    color: #b5b9bc;
    font-size: 18px;
    line-height: 50px;
    border-bottom: 1px solid #d0d6d9;
}
.ques-answer {
    position: relative;
    padding-top: 20px;
    padding-bottom: 24px;
    border-bottom: 1px solid #d0d6d9;
}
.ques-answer .answer-con {
    margin-top: 24px;
    border-top: 1px solid #edf1f2;
    padding-bottom: 46px;
    position: relative;
}
.ques-answer .answer-con.first {
    margin-top: 0;
    border: 0;
}
.ques-answer .user-pic {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    overflow: hidden;
}
.ques-answer .user-pic a {
    display: block;
    height: 100%;
}
.answer-con .detail-r, .detail-ci-avator .detail-r {
    margin: 0 0 10px 50px;
    padding-top: 10px;
}
.detail-r .time {
    float: right;
    color: #b5b9bc;
    font-size: 12px;
    margin-top: 12px;
}
.answer-con .detail-name,
.detail-ci-avator .detail-name {
    color: #14191e;
    font-size: 14px;
}
.answer-con .answer-content {
    padding-left: 50px;
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
}
.ques-answer .answer-con .answer-content,
.ques-answer .answer-con .answer-content-all {
    color: #14191e;
    line-height: 28px;
    font-size: 14px;
    margin-top: 2px;
    word-break: break-all;
    overflow: hidden;
}
.answer-con .answer-content :not(code) {
    color: #14191e!important;
    line-height: 1.6em!important;
    font-size: 14px!important;
}
.ctrl-bar {
    box-sizing: border-box;
    padding-left: 50px;
}
.ques-answer .answer-con .ctrl-bar {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 9;
}
.qa-tips {
    font-size: 12px;
    line-height: 40px;
    color: #666;
}
.btn-normal {
    background-color: #fff;
    border-color: #d0d6d9;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    -weibkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    width: 138px;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
}
.ques-answer .answer-con .ctrl-bar span {
    line-height: 24px;
    font-size: 12px;
    color: #787d82;
    margin-right: 20px;
    cursor: pointer;
}
.detail-editor-btns .btn {
    width: 80px;
}
.detail-editor-btns .btn-normal {
    margin-right: 6px;
    border-color: #d0d6d9;
}
.btn-red {
    color: #fff;
    background-color: #ec1500;
    border-color: #ec1500;
    border-style: solid;
    border-width: 1px;
    -weibkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    width: 138px;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
}
.detail-editor-btns .btn-red {
    background-color: #f01400;
    border-color: #f01400;
}
.ans-content .page {
    margin: 50px auto;
}

@media (max-width: 992px) {
    .sidebar-container .post_edit,
    .sidebar-container .post_inform {
        display: none;
    }
    .post-container .header_ask {
        display: inline-block;
    }
    .post-container .post_inform {
        display: block;
    }
    .post-container .post-title {
        margin-top: 0;
    }
}
@media (max-width: 640px) {
    .banner-container {
        display: none;
    }
}
@media (max-width: 460px) {
    .post_header .view_whole {
        padding-left: 20px;
    }
    .forum-container {
        padding-top: 20px;
    }
}


