.notice-list * {
    transition: none;
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: none;
}
.noread .notice-tit p:before {
	content: '【未读】';
}
.notice-body-time p:before {
	content: '消息时间：';
}
.container-notice {
	padding: 0 15px;
}
.container-notice .lists-title {
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	border-bottom: 1px solid #b7bbbf;
}
.lists-content {
	padding: 15px 10px;
}
.notice-list {
	border-top: 1px solid #f3f3f3;
	border-bottom: 1px solid #f3f3f3;
	margin-bottom: 10px;
}
.on .notice-body {
	height: auto;
	opacity: 1;
}
.notice-body {
	height: 0;
	opacity: 0;
}
.lists-content p {
	margin-bottom: 0;
}
.notice-head {
	position: relative;
	padding: 25px 20px;
	background: #fdfdfd;
	cursor: pointer;
}
.noread .notice-head {
	background: #3d82e3;
	/*font-weight: bold;*/
	color: #FFF;
}
.noread .notice-head-time,
.noread .notice-close i {
	color: #FFF;
}
.notice-head .notice-tit {
	line-height: 1.5;
	padding-right: 15%;
}
.notice-tool {
	position: absolute;
	top: 25px;
	right: 10px;
	color: #b9b9b9;
}
.notice-tool .notice-head-time {
	display: inline-block;
	font-size: 12px;
	height: 24px;
	line-height: 24px;
	vertical-align: middle;
	margin-right: 10px;
}
.notice-tool .notice-close {
	float: initial;
	display: inline-block;
	font-size: 20px;
	vertical-align: middle;
	color: #b9b9b9;
}
.on .notice-body {
	padding: 45px 25px;
	border-top: 1px solid #f2f2f2;
}
.notice-body {
	background: #FFF;
}
.notice-body a {
	color: #128dde;
	border-bottom: 1px solid #128dde;
}
.notice-body-content {
	line-height: 1.5;
}
.notice-body-time {
	font-size: 14px;
	color: #cfcfcf;
	margin-top: 30px;
	text-align: right;
}

@media (max-width: 460px) {
	.notice-head .notice-tit {
	    padding-right: 30%;
	}
}