.swiper-content {
	margin: 20px auto;
	padding: 0 15px;
}
.swiper-container {
	width: 100%;
	height: 100%;
	border-radius: 5px;
	/*overflow: hidden;*/
	box-shadow: 0 4px 8px 0 rgba(7,17,27,.1);
}
.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
.swiper-slide img {
	max-width: 100%;
}

.navbar {
	display: block;
	font-size: 0;
	vertical-align: middle;
	border: 0 none;
	padding: 0 9px;
	margin-bottom: 10px;
}
.navbar a {
	display: table;
	font-size: 22px;
	color: #FFF;
	height: 104px;
	text-align: center;
	vertical-align: middle;
	padding: 0 6px;
	margin-bottom: 10px;
}
.navbar a .bar-content {
	display: table-cell;
	vertical-align: middle;
	border-radius: 5px;
}
.navbar a .bar-content:first-child p {
	margin: 0;
}
.navbar a:first-child {
	line-height: 104px;
	padding-top: 0;
}
.navbar a p {
	margin-bottom: 5px;
}
.navbar a span {
	display: block;
	font-size: 14px;
	opacity: .6;
}
.navbar a .bar-content {
	width: 100%;
	height: 100%;
}
.navbar a:nth-child(1) .bar-content {
	background: url(/static/images/common/nav1.png) no-repeat;
	background-size: cover;
}
.navbar a:nth-child(2) .bar-content {
	background: url(/static/images/common/nav2.png) no-repeat;
	background-size: cover;
}
.navbar a:nth-child(3) .bar-content {
	background: url(/static/images/common/nav3.png) no-repeat;
	background-size: cover;
}
.navbar a:nth-child(4) .bar-content {
	background: url(/static/images/common/nav4.png) no-repeat;
	background-size: cover;
}
.navbar a:nth-child(5) .bar-content {
	background: url(/static/images/common/nav5.png) no-repeat;
	background-size: cover;
}