#particles-js {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #FFF;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	top: 0;
	left: 0;
	z-index: -1;
}
input {
	outline: none;
	border: 0 none;
}
#header-search {
	display: none;
}
.search-header {
	text-align: center;
	padding: 0 15px;
}
.search-content {
    /*padding: 0 15px;*/
}
.search-content .search-form {
	display: inline-block;
    margin-top: 100px;
    position: relative;
}
.search-content .icon-search {
    position: absolute;
    font-size: 26px;
    color: #b7bbbf;
    left: 16px;
    top: 13px;
}
.search-content .icon-search:before {
    content: "\e610";
    color: #b7bbbf;
}
.search-content .search-form-ipt {
    float: left;
    width: 42vw;
    height: 48px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0 16px 0 52px;
    font-size: 16px;
    color: #b7bbbf;
    border: 1px solid #eaeaea;
}
.search-content .search-form-btn {
    float: left;
    width: 100px;
    height: 48px;
    font-size: 16px;
    line-height: 48px;
    text-align: center;
    color: #fff;
    background-color: #1caaea;
    cursor: pointer;
}
.search-content .search-area-prge {
    display: none;
    position: absolute;
    width: 560px;
    top: 85px;
    left: 0;
    background-color: #fff;
    z-index: 2;
    box-shadow: 0 3px 8px rgba(7,17,27,.2);
}
.search-content .hot {
	display: block;
    margin-right: auto;
    height: 36px;
    line-height: 36px;
    font-size: 12px;
    color: #93999f;
    text-align: left;
}
.search-content .hot li {
    float: left;
    margin-right: 24px;
}
.search-content .hot li:first-child {
    margin-right: 8px;
}
.search-content .hot a {
    display: block;
    color: #93999f;
}
.search-content .hot a:hover {
	color: #333;
}
.search-content .search-body {
	padding: 0 5px;
}
.search-content .search-nav-warp {
    text-align: center;
}
.search-content .search-nav {
    display: inline-block;
    padding: 36px 0 32px;
    line-height: 16px;
}
.search-content .search-nav a {
    font-size: 16px;
    color: #4d555d;
    margin-left: 80px;
}
.search-content .search-nav a:first-child {
    margin-left: 0;
}
.search-content .search-nav a.active,
.search-content .search-nav a:hover,
.search-content .search-nav a:active {
    color: #1caaea;
}
.search-content .search-related {
    height: 28px;
    line-height: 28px;
    font-size: 12px;
    color: #93999f;
    padding-left: 10px;
}
.search-content .search-related label {
	font-size: 15px;
	padding: 0 4px;
}
.sortbar-lists {
	margin-top: 5px;
}

@media (max-width: 992px) {
	.search-content .hot {
		display: none;
	}
}

.search_nav {
    margin: 45px 0 15px;
    height: 40px;
}
.search_navcon {
    /* width: 620px; */
    display: table;
    margin: 0 auto;
}
.search_navleft {
    border: 1px solid #b8c4ce;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-right: 0;
    float: left;
    /* width: 470px; */
    height: 40px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.select-box {
    position: relative;
    width: 110px;
    height: 40px;
    float: left;
    border: 1px solid #d7dcde;
    margin: 0 10px;
    border-radius: 2px;
}
.select-box-ser {
    width: 99px;
    min-width: 99px;
    height: 38px;
    border: none;
    border-right: 1px solid #b8c4ce;
    border-radius: 0;
    margin: 0;
    /* margin-right: 10px; */
}
.select-option a:hover {
    background: #ecf0f1;
    transition: all 0.3s;
}
.select-box-ser:hover .select-option {
    display: block;
    opacity: 1;
}
.select-box span {
    height: 38px;
    overflow: hidden;
    cursor: pointer;
    color: #bdc3c7;
    font-size: 14px;
    display: block;
    line-height: 38px;
    padding-left: 17px;
    padding-right: 30px;
    background-color: #fff;
}
.select-box-ser span {
    padding-left: 10px;
}
.select-box span.on {
    color: #34495e;
}
.select-box .icon-down2 {
    position: absolute;
    color: #3498db;
    top: 0;
    right: 10px;
    line-height: 40px;
    font-size: 18px;
}
.select-option {
    display: none;
    opacity: 0;
    padding: 5px 0;
    background: #fff;
    border: #d7dcde 1px solid;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    position: absolute;
    top: 38px;
    left: -1px;
    right: -1px;
    z-index: 10;
}
.select-option a {
    height: 40px;
    padding: 0 10px;
    overflow: hidden;
    line-height: 40px;
    display: block;
    background: #fff;
    font-size: 14px;
    color: #7f8c8d;
}
.select-box-ser .select-option a {
    height: 40px;
    line-height: 40px;
    font-size: 14px;
}
.search_navleft input {
    width: 369px;
    height: 38px;
    padding: 0 10px;
    border: 0;
    outline: none;
    float: left;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.search_navright {
    width: 100px;
    float: left;
    width: 150px;
    line-height: 40px;
    text-align: center;
    border-radius: 2px;
}
.search_navright input {
    background: #3498db;
    border-radius: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    color: #fff;
    font-size: 14px;
    outline: none;
    cursor: pointer;
    width: 100%;
    border: 0;
    height: 40px;
}
@media (max-width: 768px) {
    .search_navleft input {
        width: 220px;
    }
    .search_navright {
        width: 100px;
    }
    .select-box-ser {
        width: 80px;
        min-width: 80px;
    }
}
@media (max-width: 460px) {
    .search_navleft input {
        width: 150px;
    }
    .search_navright {
        width: 60px;
    }
    .select-box-ser {
        width: 70px;
        min-width: 70px;
    }
    .search_nav {
        margin: 45px 0 35px;
        height: 40px;
    }
}