button {
	outline: none !important;
}
label.sets-radio input[type=radio] {
    position: absolute;
    clip: rect(0,0,0,0);
    pointer-events: none;
}
.row {
	margin-left: 0;
	margin-right: 0;
}
button {
	outline: none;
	border: 0 none;
}
.red {
	color: red;
}
.btn {
	padding: 10px 22px;
}
pre {
	display: block;
	padding: 0;
	margin: 0;
	font-size: 14px;
	line-height: 1.5;
	color: #333;
	word-break: break-all;
	word-wrap: break-word;
	background-color: #FFF;
	border: 0 none;
	border-radius: 0;
}
.exam-page {
	padding: 0 15px;
}
.headertop .header-nav,
.header-mobile,
.header-user,
.search-hd,
footer .leftArea p:first-child,
footer .rightArea,
.dropup, .dropdown {
	display: none;
}
.logotop {
	margin: 10px 0;
}
footer {
	text-align: center;
}
footer .leftArea {
	width: 100%;
}
.elevator a {
	display: none;
}
.elevator .elevator-top {
	display: block;
}
@charset "utf-8";
	/* CSS Document*/
	.question-title > pre, .question-option-label > pre {
	background: transparent;
	border: transparent;
	padding: 0;
	margin: 0;
	white-space: pre-wrap;
	/* css-3*/
	white-space: -moz-pre-wrap;
	/* Mozilla, since 1999*/
	white-space: -pre-wrap;
	/* Opera 4-6*/
	white-space: -o-pre-wrap;
	/* Opera 7*/
	word-wrap: break-word;
}
.btn.exam-fail-disabled {
	opacity: .45;
	filter: alpha(opacity=45);
	cursor: not-allowed;
}
.bodybg {
	background: #FFFFFF;
}
.questionContainer {
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
}
.question-title {
	/*white-space: pre-wrap;*/
	-webkit-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	color: #656D78;
	font-size: 1.2em !important;
	line-height: 1.5;
	cursor: default;
	text-align: left;
	width: 80%;
	margin-left: 0 !important;
}
.question-title img {
	max-width: 100%;
}
.questionContainer.container .question-title {
	margin: 10px auto 30px;
}
.question-title pre {
	vertical-align: middle;
	display: inline;
	background-color: transparent;
	border: transparent;
	font-size: 1em !important;
	color: #656D78;
	line-height: 1.5;
	font-family: "微软雅黑", "Open Sans", Arial, "Hiragino Sans GB",	"Microsoft YaHei", "STHeiti", "WenQuanYi Micro Hei", SimSun,	sans-serif;
	white-space: pre-wrap;
}
.question-option-label pre {
	color: #656D78;
	font-size: 1em !important;
	font-family: "微软雅黑", "Open Sans", Arial, "Hiragino Sans GB",	"Microsoft YaHei", "STHeiti", "WenQuanYi Micro Hei", SimSun,	sans-serif !important;
}
.question-option {
	font-size: 1.1em;
	font-family: "微软雅黑", "Open Sans", Arial, "Hiragino Sans GB",	"Microsoft YaHei", "STHeiti", "WenQuanYi Micro Hei", SimSun,	sans-serif;
}
/*题目操作面板*/
	#main .questionOperate {
	position: fixed;
	right: 20px;
	top: 170px;
	cursor: pointer;
	z-index: 10;
	height: auto;
}
#main .questionOperate.top {
	top: 210px;
}
#main .questionOperate .btn-group-vertical {
	position: relative;
	display: inline-block;
	vertical-align: middle;
}
#main .questionOperate .btn-group-vertical .btn {
	width: 120px;
	height: 40px;
	margin-top: -1px;
}
#main .questionOperate .btn-group-vertical .btn-answer-doubt {
	height: 35px;
	width: 80px;
	margin: 35px 20px;
	display: none;
	border-radius: 3px;
}
#main .btn-group-vertical .btn-answer-doubt:focus {
	border-color: #ffa400;
	background-color: #ffa400;
}
#main .questionOperate .btn-group-vertical .btn-primary[disabled] {
	background-color: #38b5e8
}
#main .questionOperate .btn-group-vertical .btn.disabled, #main .questionOperate .btn-group-vertical .btn[disabled] {
	cursor: default;
	cursor: not-allowed;
	pointer-events: auto;
	opacity: 0.45;
	color: #ddd;
}
#main .questionOperate .btn-group-vertical .btn.first {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
#main .questionOperate .btn-group-vertical .btn.last {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}
#main .common-pane .btn.disabled {
	cursor: not-allowed;
}
#main .common-pane .btn.next-disabled, #main .questionOperate .btn-group-vertical .btn.next-disabled {
	cursor: not-allowed;
	opacity: 0.45;
}
#main .answer {
	border-radius: 0;
	width: 30px;
	height: 30px;
	padding: 5px;
	margin: 5px;
	font-size: 12px;
}
#main .answer .answered {
	background-color: #009ee7;
	border: 1px solid #009ee7 !important;
	color: #fff;
}
#main .answer .now {
	background-color: #ffa531;
	border: 1px solid #ffa531 !important;
	color: #fff;
}
/*end 题目操作面板*/
	/*题目面板*/
	#exam-question-panel .qnumb_qums {
	padding: 2px 0px 2px 20px;
	border-left: 4px solid #e8e8e8;
	font-size: 14px;
	color: #c2c4c6;
}
/*题板块*/
	.qnumb_qums ul {
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}
.qnumb_qums ul > li {
	float: left;
	font-size: 14px;
}
.qnumb_qums ul > li span {
	margin-right: 8px;
	border-radius: 3px;
	font-size: 14px;
}
.qnum {
	margin: 8px 8px 0 0;
	font-size: 14px;
	padding: 7px 0;
	width: 50px !important;
	height: 36px !important;
}
/*当前题*/
	.qnum.now {
	box-shadow: 0 0 2px #8C8B8B !important;
	border: 2px solid #8C8B8B !important;
}
.qnum.doubt {
	color: #fff;
	background-color: #009ee7;
	border-color: #009ee7 !important;
}
.qnum.now {
	border-color: #8C8B8B !important;
}
.qnumb_qums ul > li .now-tag, .subQuestion .row .now-tag {
	display: block;
	font-size: 25px;
	color: #48cfad;
}
/*end 题目面板*/
	/*选择题*/
	.option label.check-box, .option label.sets-radio {
	width: 100%;
	padding: 18px 15px 16px 15px;
	cursor: pointer;
	display: block;
}
.option label.check-box .check-box {
	width: 0;
}
/*end 选择题*/
	/*填空题*/
	.blank label {
	width: 100%;
	padding: 18px 15px 16px 15px;
	display: block;
}
.blank .question-blank {
	white-space: nowrap;
	vertical-align: middle;
	display: table-cell;
}
.blank .question-blank-label {
	display: table-cell;
	padding-left: 10px;
	vertical-align: middle;
}
/*end填空题*/
	/*多媒体题*/
	.flex-window-review {
	text-align: center;
	color: #9aaac4;
	padding: 30px;
	font-size: 16px;
	line-height: 42px;
}
.audio {
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	background: #2a4462;
	width: 400px;
	height: 220px;
	text-align: center;
	margin: 0px auto;
}
.audio .media-record-time {
	height: 60px;
	line-height: 60px;
	color: #9aaac4;
	font-size: 16px;
	padding-top: 14px;
}
.audio .audio-time span {
	font-size: 26px;
	margin: 0px 4px;
	color: #c7d4e9;
}
.audio .audio-procedure {
	height: 88px;
	padding-top: 44px;
}
.audio .audio-btn {
	height: 70px;
	/* line-height: 70px;*/
	background-color: #263d58;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	position: relative;
	padding: 20px 0px;
}
.audio .audio-btn .btn {
	margin-right: 10px;
}
.audio_set {
	width: 400px;
	margin: 12px auto;
}
.video {
	background: #999;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	background: #2a4462;
	width: 400px;
	height: 306px;
	text-align: center;
	margin: 0px auto;
}
.video-media-record-time {
	color: #9aaac4;
	font-size: 16px;
	text-align: right;
	margin-top: -35px;
	padding: 5px;
	position: relative;
	top: 40px;
	float: right;
}
.video_set {
	width: 400px;
	margin: 12px auto;
}
.video-btn {
	width: 400px;
	margin: 0 auto;
	text-align: center;
	background-color: #263d58;
	margin: 0 auto;
	height: 50px;
	padding: 10px 0;
	margin-top: -2px;
}
.video-btn .btn {
	margin-right: 10px;
}
/*end 多媒体题*/
	/*完善个人信息*/
	#exam-info {
	/* margin-left: 10%;*/
	
}
#exam-info .infoSearch, #exam-info .infoInput {
	min-width: 200px;
}
#exam-info .photoArea {
	width: 30%;
}
#exam-info .infoArea {
	width: 70%;
	/* margin-left: -8%;*/
	
}
#exam-info label {
	font-weight: 100;
}
#exam-info select.form-control.selecter-element.auto {
	display: inline-block;
}
#exam-info label.required:before {
	font-family: 'FontAwesome';
	content: "\f069";
	color: #E9573F;
	font-size: 10px;
	display: inline-block;
	margin-top: -5px;
	margin-right: 5px;
	vertical-align: middle;
}
#exam-info .search-result.dropdown-menu {
	min-width: 178px;
	width: auto;
}
.containerbg {
	background: #fff;
}
.photo {
	background: #fff;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	min-height: 210px;
	min-width: 280px;
	margin-bottom: 15px;
	width: 280px;
	min-width: 280px;
}
.userPhoto {
	height: 280px;
	width: 280px;
}
.title {
	border-bottom: 1px solid #d9dddf;
	margin-bottom: 30px;
	padding-bottom: 10px;
}
.papericon {
	padding: 2px 6px;
	margin-right: 10px;
	font-size: 12px !important;
}
.photowhy li {
	list-style: disc inside;
}
.photobegin {
	color: #8d9294;
	text-align: center;
}
.photobegin img {
	padding-top: 10px;
}
.line {
	border: 1px solid #ff0000;
}
.f28 {
	font-size: 28px;
	border-bottom: 1px solid #f3f3f3;
	margin-bottom: 25px;
}
.linetb {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #dbdbdb;
}
/*end 完善个人信息*/
	/*试卷信息*/
	.paperlist {
	padding: 10px 30px;
	margin: 6px 0px;
	font-size: 14px;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	argin: 6px 0px;
	background-color: #f7f7f7;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.07);
	background: #fff;
}
.notice li {
	line-height: 26px;
	list-style-type: disc;
	margin-left: 50px;
}
.paperlist .paperName {
	color: #009ee7;
}
h4 {
	font-weight: 500;
}
.paper {
	border: 1px solid #ebebeb;
	background: #fff;
	padding-bottom: 20px;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
}
/*end 试卷信息*/
	/*答题*/
	label.question-index {
	position: relative;
	float: left;
	color: #949494;
	font-weight: normal;
	font-size: 14px;
	margin: 0;
	margin-left: 10px;
	top: 5px;
}
/*选择题*/
	label.question-index .numb_index {
	color: #009EE7;
	font-size: 16px;
	font-weight: bold;
}
.questionInfo {
	margin-bottom: 10px;
	margin-top: 30px;
	height: 33px;
	line-height: 33px;
}
.skillName {
	background: #8CADCA;
	float: left;
	padding: 4px 10px;
	border-radius: 4px;
	max-width: 180px;
	display: inline-block;
	margin-left: 10px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	margin-right: 10px;
	font-size: 16px;
	color: #fff !important;
	line-height: normal;
}
label.question-type {
	color: #009EE7;
	float: left;
	font-size: 18px;
	margin-bottom: 0;
	display: inline-block;
	vertical-align: middle;
	margin-top: 4px;
	margin-right: 5px;
}
label.question-point {
	color: #656464;
	float: left;
	font-size: 18px;
	margin-bottom: 0;
	display: inline-block;
	vertical-align: middle;
	margin-top: 4px;
	margin-right: 5px;
}
.blank {
	margin: 8px 0px;
	font-size: 1.1em !important;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	argin: 6px 0px;
	background-color: #fff;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.07);
	border: 2px solid transparent;
}
.option {
	/*	padding: 18px 15px 16px 15px;*/
	margin: 8px 0px;
	font-size: 1.1em !important;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	background-color: #fff;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.07);
	cursor: pointer;
	border: 1px solid #eeeeee;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.option:hover, .option:focus {
	background-color: #f7f7f7;
}
.option:focus, .option:active:focus, .option.focus {
	border: 2px solid #009ee7;
}
.option:active, .option.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125)
}
.option:active.disabled, .option:active[disabled] {
	pointer-events: none;
	cursor: not-allowed;
	filter: alpha(opacity=65);
	-webkit-box-shadow: none;
	box-shadow: none;
	opacity: .65
}
.option.option_right {
	background: #fff;
	border: 2px solid #00bd9c;
}
.option.option_wrong {
	background: #fff;
	border: 2px solid #fa866b;
}
.option .disabled {
	background-color: #f7f7f7;
}
.option_selected {
	background: #fff;
}
.option .question-option {
	cursor: pointer;
	white-space: nowrap;
	vertical-align: middle;
	display: table-cell;
}
.option .question-option-label {
	display: table-cell;
	word-break: break-all;
	word-wrap: break-word;
}
.option .question-option-label p {
	margin: 0;
	padding: 0;
}
.btn_right {
	position: fixed;
	right: 10px;
	top: 210px;
	height: 80px;
	width: 55px;
	cursor: pointer;
	z-index: 2;
	width: 110px;
	height: 200px;
}
.btn_right .btn {
	width: 120px;
}
/*编程题*/
	.program {
	}
.program .left {
	float: left;
	width: 40%;
	min-height: 500px;
	/*	position: relative;*/
	border-right: 1px dotted #999;
}
.program .right {
	float: right;
	width: 60%;
	min-height: 500px;
}
.programming span {
	color: #2fbd9c;
}
.clear {
	clear: both;
}
#moveMatrix {
	position: relative;
	overflow: hidden;
}
.moveMatrix .matrix-handler {
	position: absolute;
	left: 40%;
	top: 160px;
	height: 130px;
	width: 6px;
	margin-left: -3px;
	background: #acb0b4 url("../../assets/img/handle.png") center center;
	cursor: col-resize;
	z-index: 2;
	border-radius: 3px;
}
.code {
	border: 1px dashed #C1C0C0;
	padding: 10px 20px;
	margin-top: 10px;
	font-size: 14px;
	background-color: #f0f0f0 !important;
}
#container {
	margin: 0 auto;
	width: 100%;
}
#mainContent {
	height: 500px;
	margin-bottom: 5px;
}
#sidebar {
	float: left;
	width: 50%;
	height: 500px;
	background: #fff;
}
#content {
	margin-left: 51% !important;
	margin-left: 51%;
	height: 500px;
	background: #fff;
}
.mt89 {
	margin-top: 89px;
}
.hideScroll {
	/* overflow-y: hidden;*/
	
}
.scroll-y {
	/*	overflow-y: scroll;*/
	
}
/*组合题*/
	.subQuestion {
	position: relative;
}
.subQuestion .program {
	margin: 10px 6%;
}
/*end 组合题*/
	/*填空题*/
	input.exam-blankInput {
	min-width: 400px;
	max-width: 72%;
}
/*end 填空题*/
	/*答题进度*/
	.questionModal {
	background: #000;
	position: fixed;
	top: 194px;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0.5;
	filter: alpha(opacity=50);
	z-index: 200;
}
.questionProgress {
	max-height: 60%;
	overflow-y: auto;
	position: fixed;
	top: 194px;
	width: 100%;
	z-index: 200;
	border-top: 1px solid #CCD1D9;
	background-color: rgb(247, 247, 247);
	box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.09);
	padding: 20px 10%;
}
.questionProgress .progressbegin {
	padding: 2px 15px;
	font-size: 18px;
	color: #393a3b;
}
.questionProgress .part_list {
	background: url(../../assets/img/line.png) repeat-x center center;
	padding: 5px 0px 0px 15px;
	margin-top: 10px;
	min-width: 600px;
	overflow: hidden;
}
ul.partList > li {
	float: left;
	margin-right: 35px;
	background-color: #f7f7f7;
	text-align: center;
	font-size: 14px;
	padding-bottom: 15px;
}
.questionProgress ul.partList > li i {
	color: #2dbd9b;
	padding-left: 5px;
}
#exam-questionProgress-wrap .question-panels {
	padding: 15px 30px;
	border-left: solid #D0CECE;
	margin-top: -3px;
}
.questionProgress ul.partList .part {
	border: none;
	color: #A0A0A0;
	padding: 6px 30px;
	background-color: #E0E0E0;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}
.questionProgress ul.partList .hover {
	border: solid #46615A 1px;
	color: #656464;
}
.questionProgress ul.partList .part_now {
	border: 1px solid #009ee7 !important;
	color: #009ee7;
	background-color: #fff !important;
}
.questionProgress .part_list .part_line {
	color: #c9ccce;
	padding: 4px;
}
/*end 答题进度*/
	/*答题错误*/
	.exam-question-error {
	padding: 20px;
	margin: 20px 0;
	width: 947px;
	margin: 20px auto;
}
.exam-question-error .errorTitle {
	color: #E9573F;
	padding-bottom: 20px;
	font-size: 1.2em;
}
.exam-question-error .errorContent pre {
	background-color: transparent;
	border: none;
	color: #fff;
}
.exam-question-error .errorContent {
	border-radius: 4px;
	border: 1px solid #ccc;
	background-color: #434A54;
	color: #fff;
	padding: 20px;
	height: 400px;
	overflow-y: auto;
}
.exam-question-error .errorContent dt {
	width: auto;
	font-weight: 400;
}
.exam-question-error .errorContent dd {
	margin-left: 100px;
	font-weight: 400;
}
.arrowLeftTop {
	background: url(../../assets/img/arrowLeftTop.png) repeat-x center center;
	width: 78px;
	height: 78px;
}
.arrowRightTop {
	background: url(../../assets/img/arrowRightTop.png) repeat-x center center;
	width: 78px;
	height: 78px;
}
.arrowRightBottom {
	background: url(../../assets/img/arrowRightBottom.png) repeat-x center center;
	width: 78px;
	height: 78px;
}
/*多媒体题干*/
	.question_media_title {
	margin-bottom: 15px;
	margin-top: -10px;
	overflow: hidden;
}
.question_media_title .media_box {
	min-height: 106px;
	cursor: pointer;
	border: 1px dashed #8CADCA;
	padding: 10px;
	width: 200px;
	font-size: 12px;
	text-align: center;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
}
.media_box.disabled {
	cursor: not-allowed;
}
.question_media_title .media_box:hover, .question_media_title .media_box:active {
	background: #fff;
}
.question_media_title .media_box .question_media_type {
	width: 48px;
}
ul.media_box_wrap > li {
	float: left;
	margin-bottom: 10px;
	margin: 10px 10px 0 0;
}
ul.media_box_wrap > li + li {
	/* margin-left: 10px;*/
	
}
ul.media_box_wrap .media-item {
	border-left: 4px solid #8CC152;
	display: table-row;
}
ul.media_box_wrap .media-item > div {
	display: table-cell;
	padding: 5px;
	border-bottom: 1px solid #E6E9ED;
	background-color: #FFFFFF;
}
ul.media_box_wrap .media-item .item-sequence {
	font-size: 1em;
	padding: 0 10px;
	font-weight: bold;
	color: #CCD1D9;
}
.questionMediaWrap {
	position: relative;
}
.questionMediaWrap .audio {
	position: absolute;
	top: -70px;
	width: 100%;
	height: 100%;
}
.questionMediaWrap .audio-procedure {
	position: absolute;
	top: 0px;
	padding-top: 34px;
	height: 32px;
}
.questionMediaWrap .audio-procedure img {
	width: 100%;
	margin-top: -40px;
}
.questionMediaWrap .media-content .media-content-head {
	overflow: hidden;
}
.questionMediaWrap .media-content .media-content-body {
	padding: 0;
	height: 50px;
	position: relative;
}
/*检查答案*/
	#exam-question-check-wrap .section-exam-check {
	position: fixed;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: #292929;
	color: #fff;
	padding: 5px;
	z-index: 11;
	box-shadow: rgba(0, 0, 0, 0.498039) 0px 0px 12px;
}
#exam-question-check-wrap .section-exam-check.codeArea {
	width: 500px;
	height: 100%;
	height: calc(100% - 150px);
	top: 56px;
	right: 0;
	left: initial;
	bottom: 100px;
}
#exam-question-check-wrap .section-exam-check.codeArea .tab-content {
	height: calc(100% - 45px);
	overflow-y: auto;
}
.section-exam-check .nav-tabs {
	padding-left: 20px;
	background-color: transparent;
}
.section-exam-check li.active span {
	background-color: rgb(62, 61, 69) !important;
	border-radius: 4px 4px 0 0;
	color: #ACACAE;
	margin-bottom: -1px;
	position: relative;
	display: block;
	padding: 10px 15px;
}
#exam-question-check-wrap .tab-content {
	background: rgb(62, 61, 69);
	overflow: auto;
}
.tab-pane pre {
	color: #ACACAE;
	background-color: rgb(62, 61, 69);
	border: none;
}
#exam-question-check-wrap ul.checkQuestion > li {
	text-shadow: 0 1px 0 #000;
	border-top: 1px solid #515356;
	border-bottom: 1px solid #2E3034;
	height: auto;
	line-height: 40px;
	color: #ACACAE;
}
.tab-content .container .tab-pane {
	height: 280px;
}
#exam-question-check-wrap .question-answer-explain {
	text-shadow: 0 1px 0 #000;
	border-top: 1px solid #515356;
	height: auto;
	line-height: 40px;
	color: #ACACAE;
}
.no-border-top {
	border-top: none !important;
}
.no-border-bottom {
	border-bottom: none !important;
}
#exam-question-check-wrap ul.checkQuestion > li:first-child {
	border-top: none;
}
#exam-question-check-wrap ul.checkQuestion > li:last-child {
	border-bottom: none;
}
#exam-question-check-wrap .rightOrWrong i.fa, #exam-question-check-wrap .noAnswer i.fa {
	font-size: 1.3em;
}
#exam-question-check-wrap .rightOrWrong .wrong {
	color: #E9573F;
}
#exam-question-check-wrap .rightOrWrong .right {
	color: #37BC9B;
}
#exam-question-check-wrap textarea {
	background-color: #55555c;
	border-color: #2f2e32;
}
#exam-question-check-wrap .hideAnswer a {
	color: #ACACAE;
}
#exam-question-check-wrap .hideAnswer a i.fa {
	font-size: 2em;
	vertical-align: sub;
}
ul.checkQuestion {
	display: inline-block;
}
.answer-error-explain {
	text-shadow: 0 1px 0 #000;
	border-top: 1px solid #515356;
	padding-top: 10px
}
.btn-review-answer {
	color: #E9573F;
	text-decoration: underline;
}
.btn-review-answer:hover {
	color: #E9573F;
}
/*不可用样式*/
	.sets-radio.disabled, label.check-box.disabled {
	cursor: not-allowed !important;
	pointer-events: auto;
	opacity: 1;
	color: #ddd;
	background-color: transparent;
}
label.sets-radio.disabled > .radio-icon > i {
	color: #ddd !important;
}
label.check-box.disabled .check-icon > i {
	color: #ddd !important;
}
i.fa.fa-spinner.fa-pulse {
	-webkit-animation: fa-spin 1s infinite steps(8);
	animation: fa-spin 1.2s infinite steps(8);
}
/* 试卷说明样式添加部分*/
	.sets-question-item {
	line-height: 26px;
}
.option .option-index {
	display: table-cell;
	padding-left: 10px;
}
.option .option-index:after {
	content: '、';
}
.paperlist .btn-group-retest {
	padding: 2px 8px;
	font-size: 12px;
	float: right;
	border-radius: 3px;
}
.paperlist .paper-condition {
	padding: 5px 8px;
	margin-left: 5px;
}
.paperlist .divider {
	position: absolute;
	display: inline-block;
	height: 18px;
	border-left: solid 1px gray;
}
.paperlist .point-text {
	margin-left: 5px;
	display: inline-block;
}
#exam-over .exam-over-model {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1051;
	background: #f8f8f8;
}

#exam-over .exam-over-content {
	position: absolute;
	z-index: 1051;
	width: 700px;
	top: 50%;
	margin-top: -230px;
	left: 50%;
	margin-left: -350px;
	border-radius: 4px;
	min-height: 470px;
	overflow: hidden;
	text-align: center;
	margin-bottom: 20px;
}
#exam-over .exam-over-content .title {
	height: 60px;
	line-height: 60px;
	background: #009ee7;
	color: #FFF;
	text-align: center;
	font-size: 17px;
}
#exam-over .exam-over-content .user-avatar {
	width: 120px;
	height: 120px;
	border-radius: 100%;
	overflow: hidden;
	margin: 10px auto;
}
#exam-over .exam-over-content .user-avatar img {
	max-height: 100%;
}
#exam-over .exam-over-content .user-name {
	font-size: 16px;
	color: #999;
	margin-bottom: 20px;
}
#exam-over .exam-over-content .user-exam-all {
	font-size: 20px;
	color: #666;
	margin-bottom: 50px;
}
#exam-over .exam-over-content .user-exam-all .num {
	font-size: 26px;
	color: #009ee7;
	padding: 0 6px;
}
#exam-over .exam-over-content .over-btn {
	margin-bottom: 40px;
}
#exam-over .exam-over-content .over-tips {
	width: 90%;
	margin: 0 auto 10px;
	font-size: 12px;
	letter-spacing: 1px;
	color: #999;
	padding-top: 10px;
	border-top: 1px solid #eee;
}

/* 页面离开次数*/
#exam-listeningLeave .exam-listeningLeave-model {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1051;
	background: #d1ebfd;
}
#exam-listeningLeave .exam-listeningLeave-content {
	position: absolute;
	z-index: 1051;
	left: 50%;
	margin-left: -350px;
	min-height: 500px;
}
#exam-listeningLeave .remind {
	width: 700px;
	height: 360px;
	background: url(/static/images/exam/remind.png) center top;
	background-repeat: no-repeat;
	background-size: 90% 95%;
	text-align: center;
	font-size: 34px;
	margin: 90px auto 0px auto;
	padding-top: 290px;
}
#exam-listeningLeave .remind span {
	color: #fa866b;
	font-size: 40px;
	margin: 10px;
}
#exam-listeningLeave .remind_text {
	width: 700px;
	margin: 0px auto;
	text-align: center;
	font-size: 16px;
	padding-bottom: 60px;
	line-height: 24px;
}
#exam-listeningLeave .remind_text span {
	color: #fa866b;
}
#exam-banner {
	position: relative;
}
#exam-banner img {
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 1;
}
#exam-banner:after {
	content: '';
	position: absolute;
	width: 100vw;
	height:100%;
	top: 0;
	left: 50%;
	margin-left: -50vw;
	background: #220e03;
	z-index: 0;
}
.exam-banner-wrap {
	position: relative;
	padding: 25px 0;
	z-index: 2;
}
.exam-banner-title {
	margin: 0;
	padding: 0 0 20px;
	font-size: 30px;
	color: #FFF;
	font-weight: 700;
	vertical-align: text-bottom;
}
.exam-banner-title:after {
	content: '考试';
	font-weight: normal;
	font-size: 26px;
	margin-left: 10px;
}
#exam-banner .statics {
	color: #FFF;
}
#exam-banner .statics .static-item {
	display: inline-block;
	position: relative;
	padding: 0 42px;
	height: 40px;
	font-size: 12px;
	border-left: 1px solid #5e5e5e;
}
#exam-banner .statics .static-item:first-child {
	border-left: 0 none;
	padding-left: 0;
}
#exam-banner .statics .static-item .meta {
	display: block;
	opacity: .7;
	filter: alpha(opacity=70);
	line-height: 12px;
	font-size: 12px;
}
#exam-banner .statics .static-item .meta-value {
	display: block;
	margin-top: 10px;
	opacity: .7;
	font-size: 16px;
	line-height: 16px;
	filter: alpha(opacity=70);
}
.exam-submit-paper-btn {
	padding: 10px 30px;
	background: #237dca;
}
.btn-primary:hover {
	color: #fff;
	background-color: #009ee7;
	border-color: #009ee7;
}
.btn-success {
	color: #d9d9d9;
	background-color: #eaeaea;
	border-color: #e6e6e6;
}
.btn-success:hover {
	color: #b5b5b5;
	background-color: #eaeaea;
	border-color: #b5b5b5;
}
#exam-examing .icon-radiobxo_o,
#exam-examing .icon-radiobox {
	position: relative;
	top: -1px;
	font-size: 22px;
}
#exam-examing .icon-radiobxo_o {
	display: block;
	color: #afc6da;
}
#exam-examing .icon-radiobox {
	display: none;
	color: #009ee7;
}
#exam-examing .focus .icon-radiobxo_o {
	display: none;
}
#exam-examing .focus .icon-radiobox {
	display: block;
}
.examOperate {
	margin: 30px auto 20px;
	text-align: right;
}
.examOperate button {
	background: #FFF;
	color: #FFF;
	border: 1px solid #eeeeee;
	padding: 10px 30px;
	margin-left: 10px;
	margin-bottom: 10px;
}
.examOperate button:hover {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15) inset;
}
.examOperate .exam-prev-btn {
	background: #FFF;
	color: #333;
	border: 1px solid #eeeeee;
}
.examOperate .exam-next-btn {
	background: #FFF;
	color: #009ee7;
	border: 1px solid #eeeeee;
}
.examOperate .btn-answer-doubt {
	background: #009ee7;
	color: #FFF;
	border: 1px solid #009ee7;
}
.examOperate .btn-answer-send {
	background: #0068b7;
	color: #FFF;
	border: 1px solid #0068b7;
}

.exam-time {
	position: absolute;
	right: 0;
	bottom: -125px;
    text-align: center;
    font-size: 15px;
    color: #333;
}
.exam-time .exam-tip {
	position: relative;
    display: block;
    font-size: 13px;
    margin-bottom: 0;
}
.exam-time .exam-tip:before {
	content: '';
	position: absolute;
	width: 18px;
	height: 2px;
	background: #eee;
	top: 46%;
	left: 0;
}
.exam-time .exam-tip:after {
	content: '';
	position: absolute;
	width: 18px;
	height: 2px;
	background: #eee;
	top: 46%;
	right: 0;
}
.exam-time .exam-countdown {
    position: relative;
    padding: 9px 0;
    display: inline-block;
    font-size: 13px;
    text-align: center;
    color: #666;
}
.exam-time .exam-countdown label {
    font-size: 20px;
    position: relative;
    margin: 0 5px;
    background-size: 100% 100%;
    color: #eee;
	padding: 5px 3px;
	background: #333;
	border-radius: 2px;
	letter-spacing: 1px;
}
.exam-time .exam-countdown label i {
	font-style: normal;
	font-weight: normal;
}

@media (max-width: 760px) {
	#exam-banner:before {
	    content: '';
	    position: absolute;
	    width: 100vw;
	    height: 100%;
	    top: 0;
	    left: 50%;
	    margin-left: -50vw;
	    background: rgba(0,0,0,.8);
	    z-index: 2;
	}
	#exam-banner .statics .static-item {
		padding: 0 15px;
	}
	.questionInfo {
	    margin-top: 50px;
	}
	#exam-over .exam-over-content {
	    width: 500px;
	    margin-left: -250px;
	}
	.exam-time {
		right: initial;
		bottom: -55px;
		width: 100%;
	}
	.exam-time > p {
		font-size: 15px !important;
		display: inline-block !important;
	}
	.exam-time > p:before,
	.exam-time > p:after {
		display: none;
	}
	.exam-time .exam-countdown label {
		color: #333;
		background: transparent;
		font-size: 15px;
	}
}
@media (max-width: 530px) {
	#exam-over .exam-over-content {
	    width: 380px;
	    margin-left: -190px;
	}
}
@media (max-width: 420px) {
	#exam-over .exam-over-content {
	    width: 280px;
	    margin-left: -140px;
	    top: 20px;
	    margin-top: 0;
	}

}