/*body {
	background: url(/static/images/user/banner.jpg) top center no-repeat;
	background-size: auto 375px;
}*/
.user-top {
    position: relative;
    height: 320px;
    margin: 0 auto;
    background-color: #fff;
}
.user-top .cover {
    position: absolute;
    width: 100vw;
    height: 250px;
    z-index: 1;
    overflow: hidden;
    top: 0;
    left: 50%;
    margin-left: -50vw;
}
.user-top .cover.bg1 {
    background: url(/static/images/user/banner.webp) bottom center no-repeat #e2dbbd;
    background-size: auto 250px;
}
.user-top .cover.bg2 {
    background: url(/static/images/user/106949_top.webp) bottom right no-repeat #ebf1cf;
    background-size: auto 250px;
}
.user-top .cover.bg3 {
    background: url(/static/images/user/banner3.jpg) bottom center no-repeat #04208e;
    background-size: auto 250px;
}
/*.user-top .cover .mask {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    right: 0;
    height: 118px;
    background: transparent;
    background: linear-gradient(to bottom,transparent,rgba(0,0,0,.5));
}*/
.user-top .intro {
    position: absolute;
    z-index: 3;
    top: 130px;
    left: 0;
    color: #fff;
}
.user-top .intro .bar-logo {
    position: absolute;
    top: 0;
    left: 20px;
    z-index: 2;
    padding: 3px;
    border: 1px solid rgba(0,0,0,.11);
    border-radius: 3px;
    background-color: #fff;
}
.user-top .intro .bar-logo img {
    width: 160px;
    height: 160px;
}
.user-top .intro .bar-info {
    margin-left: 208px;
}
.user-top .intro .bar-info .title {
    margin-top: 25px;
    font-size: 30px;
    font-weight: 500;
    /*color: #775406;*/
    -webkit-text-shadow: 1px 1px 1px rgba(0,0,0,.7);
    -moz-text-shadow: 1px 1px 1px rgba(0,0,0,.7);
    text-shadow: 1px 1px 1px rgba(0,0,0,.7);
}
.user-top .intro .bar-info .desc {
    color: rgba(255,255,255,.7);
    font-size: 14px;
    margin-top: 10px;
    height: 21px;
    /*color: #775406;*/
    /*opacity: .7;*/
    -webkit-text-shadow: 1px 1px 1px rgba(0,0,0,.3);
    -moz-text-shadow: 1px 1px 1px rgba(0,0,0,.3);
    text-shadow: 1px 1px 1px rgba(0,0,0,.3);
}
.user-top .intro .bar-info .info-data {
    margin-top: 35px;
    color: #868686;
    font-size: 14px;
}
.user-top .intro .bar-info .info-data span {
    margin-right: 7px;
}
.user-top .intro .bar-info .info-data .num {
    font-weight: 600;
    font-size: 18px;
    margin-right: 20px;
    color: #000;
}

.user-top, .study-lists {
	padding: 0 15px;
}
.study-lists {
	padding-bottom: 20px;
}
.u-container {
	width: 100%;
}
.c-tab {
    font-size: 16px;
    height: 42px;
    line-height: 42px;
    margin-top: 10px;
    border-bottom: 1px solid #d0d6d9;
}
.c-tab .sort-item {
	height: 42px;
    margin-right: 53px;
    display: inline-block;
    color: #787d82;
    padding: 0 10px;
}
.c-tab .tool-left .active,
.c-tab .tool-left .sort-item:hover {
    color: #0b6fb5;
    border-bottom: 2px solid #0b6fb5;
}
.study-tl {
    padding: 0 0 0 83px;
}
.study-tl .tl-item {
    position: relative;
    padding-left: 37px;
    border-left: 1px solid #d3d7da;
}
.study-tl .time {
    position: absolute;
    left: 0;
    top: 25px;
    margin-left: -72px;
    line-height: 16px;
    font-size: 12px;
    color: #8a8c8f;
}
.study-tl .time:before {
    content: '';
    display: block;
    position: absolute;
    left: 68px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #d0d6d9;
}
.study-tl .time b {
    font-size: 18px;
    font-weight: 400;
}
.study-tl .time em {
    display: block;
    margin-top: 2px;
}
.course-list .course-one {
    padding: 30px 0;
    position: relative;
    border-bottom: 1px solid #eff1f0;
}
.course-list .course-list-img img {
    vertical-align: top;
}
.course-list .course-list-cont {
    padding-left: 230px;
}
h3 {
    font-size: 16px;
    line-height: 32px;
    margin-top: 0;
}
.course-list .study-hd {
    font-size: 18px;
    color: #12171b;
    /*height: 29px;*/
    line-height: 29px;
    position: relative;
    margin-bottom: 20px;
}
.course-list .study-hd a {
    font-weight: 700;
    margin-right: 10px;
}
.course-list .span-common, .course-list .study-hd .i-new {
    font-size: 14px;
    color: #787d82;
}
.share-box {
	display: none;
    position: absolute;
    right: 10px;
    top: 27px;
    width: 30px;
    background-color: #ff0;
    overflow: visible;
}
.study-hd .share-box {
    top: -8px;
}
.share-box .show-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 20px;
    font-size: 16px;
    text-align: right;
    color: #bdc0c3;
    cursor: pointer;
}
.share-box .share-box-con {
    display: none;
    position: absolute;
    z-index: 99;
    top: 18px;
    right: 0;
    width: 208px;
    height: 60px;
    background-color: #fff;
    box-shadow: 4px 4px 10px 2px #e1e1e1;
}
.share-box .courses-r {
    width: 120px;
    text-align: center;
}
.share-box .courses-r .custom_f {
    margin-top: 25px;
    border-left: 0 none;
}
.share-box .follow i {
    vertical-align: 4px;
}
.share-box .follow .icon-star_outline {
    color: #d8dadc;
}
.share-box .courses-r .del {
    margin-top: 20px;
    color: #b5b9bc;
    cursor: pointer;
    display: inline-block;
}
.course-list .study-points {
    padding: 10px 0 5px;
    margin-bottom: 3px;
}
.course-list .study-points span {
    margin-right: 14px;
}
.course-list .study-points .i-left {
    color: #0b6fb5;
}
.course-list .catog-points {
    position: relative;
    padding-bottom: 10px;
    word-wrap: break-word;
}
.course-list .catog-points span {
    display: inline-block;
    width: 135px;
}
.course-list .catog-points a {
    color: #787d82;
}
.course-list .span-common i {
    color: #b5b9bc;
    font-style: normal;
}
.course-list .catog-points .continute-btn {
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 14px;
    border: 1px solid #0b6fb5;
    color: #0b6fb5;
    width: 100px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    background-color: #fff;
    border-radius: 3px;
}
.course-list .catog-points .continute-btn:hover {
	background-color: #0b6fb5;
	color: #FFF;
}

@media (max-width: 960px) {
	.course-list-img {
		display: none;
	}
	.course-list .course-list-cont {
		padding: 0;
	}
	.course-list .catog-points span {
		width: auto;
		margin-right: 30px;
	}
}
@media (max-width:630px) {
	.course-list .catog-points {
	    overflow: hidden;
	}
	.course-list .catog-points .continute-btn {
		position: relative;
		display: block;
		margin-top: 40px;
		float: right;
	}
/*	.c-tab {
		border-bottom: 0 none;
	}*/
	.study-tl,
	.study-tl .tl-item {
		padding-left: 0;
		border-left: 0 none;
	}
	.study-tl .tl-item {
		padding: 0 5px;
	}
	.study-tl .time {
		position: relative;
		display: block;
		margin: 0;
	}
	.study-tl .time:before {
		display: none;
	}
	.study-tl .time em {
		display: inline-block;
		margin: 0 0 0 3px;
	}
	.course-list .study-hd {
		margin-bottom: 10px;
	}
	.course-list .course-one {
	    padding: 30px 0 20px;
	}
	.user-top .intro {
		top: 20px;
		width: 100%;
		left: 0;
		text-align: center;
	}
	.user-top .intro .bar-logo {
		position: relative;
		display: inline-block;
		border-width: 2px;
		padding: 0;
		border-radius: 100%;
		overflow: hidden;
		left: 0;
	}
	.user-top .intro .bar-logo img {
		width: 60px;
		height: 60px;
	}
	.user-top .intro .bar-info {
		margin: 0;
	}
	.user-top .intro .bar-info .title {
		width: 70%;
		font-size: 17px;
		margin: 20px auto 0;
	}
	.user-top .intro .bar-info .desc {
		width: 90%;
		font-size: 12px;
		margin: 5px auto 0;
	}
	.user-top .intro .bar-info .info-data {
		color: rgba(255,255,255,.6);
	}
	.user-top .intro .bar-info .info-data span {
		margin-right: 3px;
	}
	.user-top .intro .bar-info .info-data .num {
		color: #FFF;
		margin-right: 10px;
	}
	.user-top {
		height: auto;
	}
	.user-top .cover {
		position: relative;
	}
}
.container-lists .page {
	margin-top: 40px;
}